body {
	background-color: #9fb7c4;
}

@font-face {
	font-family: 'New_Zelek';
	src: url('media/fonts/New_Zelek.eot');
	src: local('New_Zelek'),
		url('media/fonts/New_Zelek.eot?#iefix') format('embedded-opentype'),
		url('media/fonts/New_Zelek.woff') format('woff'),
		url('media/fonts/New_Zelek.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}



.bg_darkslategray {
	background-color: #243d46;
}

.body_cyberpunk_container {
	background-attachment: fixed;
	background-image: url('media/cyberpunk.jpg');
	background-repeat: round;
	background-size: 100%;
}


.cyberpunk_container {
	background-color: #243d468f;
}


.logo {
	transition: .2s linear;
	text-shadow: 1px 1px 2px black;
	font-size: 1.8em;		
	font-family: 'New_Zelek', normal;
	color: #3ea6a4;

}

.logo:hover {
	color: #a2faf8;	
	text-decoration: none;
}


.link_menu {
	transition: .2s linear;
	text-shadow: 1px 1px 2px black;
	font-size: 1.3em;		
	font-family: 'New_Zelek', normal;
}

.link_menu a {
	text-decoration: none;
	color: #3ea6a4;
}

.border-bottom {
	border-width: 3px !important;
}

.section {
	scroll-margin-top: 1em;
}

.bg_section {
	background-color: #f7e846;
}

.photo_size {
	height: 250px;
	width: 250px;
}

.contact_link {
	color: #212529;
}
.contact_link:hover {
	color: #212529;
}

.text_indent {
	text-indent: 5%;
}
