body {
	
	background-color: #9fb7c4;

}



.bg_darkslategray {
	background-color: #243d46;
}

.cyberpunk_container {
	background-image: url('media/cyberpunk.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.logo {
	text-shadow: 1px 1px 2px black;
	font-size: 1.8em;
	color: #3ea6a4;	
	font-family: 'Secular One', sans-serif;
}

.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}
.carousel-indicators li {
  width: 10px!important;
  height: 10px!important;
  border-radius: 50%;
}
.fix_proj_height {
	height: 60vh;

}